html,
body {
	margin: 0;
	padding: 0;
}

body {
	/* font-size: 10px !important; */
}

.MuiToolbar-root {
  display: flex !important;
  flex-direction: row;
}

.MuiToolbar-root a {
  border: 1px solid #aaa;
  padding: 10px;
  border-radius: 15px;
  text-decoration: none;
  margin-right: 15px;
  color: black;
}

.MuiToolbar-root a.active {
  background-color: #1976d2;
  color: white;
}

[type="checkbox"] {
	vertical-align: middle;
}

.checkbox {
  text-transform: capitalize;
}

#table-data {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 475px;
  padding-left: 8px;
  font-size: 12px;
}

.count-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #aaa;
}